#ship{
    width: 300px;
    height: 250px;
    margin: 0 auto;
    background: url(/img/ship.png) center no-repeat;
    background-size: 80%;
}

#ship.burst{
    background-image: url(/img/ship-burst.png);
}

#ship-health{
    width: 200px;
    border: 2px solid #000;
    margin: 0 auto 20px auto;
}

#ship-health div{
    height: 20px;
    background: crimson
}

#controls{
    width: 120px;
    margin: 0 auto;
}
